/*@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

// TO REM
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

// TO EM
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Raleway";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg ._image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

/*-----------------------------------*/

body {
  background-color: #010101;
  line-height: 1.55;
}

.page {
  position: relative;
}

.header {
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 50px;
  left: 50%;
}

.header__container {
  width: calc(100vw - 30px);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.menu__item {
  ont-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-shadow: 0px 0px 3.5px rgba(231, 164, 86, 0.7);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item:hover {
  color: #E7A456;
  text-shadow: 0px 0px 3.5px rgba(231, 164, 86, 0.7);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link {
  color: inherit;
}

:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

.main-header {
  position: relative;
}

.no-webp .main-header::after {
  background-image: url(../img/header/ground.png); }

.main-header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}

.layers {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.layers__base {
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}

.layers__middle {
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer__header {
  margin-top: -65px;
  z-index: 1;
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 15px #9d822b;
}

.layers__title {
  font-size: calc(var(--index) * 2.25);
  letter-spacing: calc(var(--index) / 2.25);
}

.layers__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  margin-top: calc(var(--index) * -0.75);
}

.content {
  will-change: transform;
}

.page {
  overflow: hidden;
}

.services__container {
  position: relative;
}

.services__insert {
  position: absolute;
  width: 100vw;
  height: 334px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__wrap {
  padding: 290px 0 391px 0;
}

.services__title:not(:last-child) {
  margin-bottom: 40px;
}

.services__slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -25px 0 -25px;
}

.services__slider .slick-list {
  max-width: 100% !important;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__slider .slick-arrow {
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  overflow: hidden;
  top: 59%;
  font-size: 0;
  z-index: 10;
}

.services__slider .slick-arrow.slick-prev {
  background: url("../img/reviews/left.svg") center center no-repeat;
  left: 25px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.services__slider .slick-arrow.slick-next {
  background: url("../img/reviews/right.svg") center center no-repeat;
  right: 25px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.services__slid {
  width: 430px !important;
  height: 455px;
  padding: 0 25px 0 25px;
}

.services__slid-body {
  display: block;
  margin-top: 75px;
  width: 380px;
  height: 380px;
  background: rgba(6, 8, 11, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.services__slid-title {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 135%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 3.5px #577BAD;
}

.services__slid-title:not(:last-child) {
  margin-bottom: 9.43px;
}

.services__slid-title:not(:first-child) {
  margin-top: 20px;
}

.services__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(230, 164, 86, 0.3);
  padding: 20px;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 20px;
}

.services__link svg path {
  fill: #E7A456;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #E7A456;
  text-shadow: 0px 0px 3.5px rgba(231, 164, 86, 0.7);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__text:not(:last-child) {
  margin-right: 15px;
}

.services__slid-body:hover .services__slid-title {
  color: #E7A456;
  text-shadow: 0px 0px 3.5px #577BAD;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__slid-body:hover .services__text {
  color: #FFFFFF;
  text-shadow: 0px 0px 3.5px rgba(231, 164, 86, 0.7);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__slid-body:hover .services__link svg path {
  fill: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.video_wrapper {
  border-radius: 22px;
  overflow: hidden;
  width: 350px;
  margin: 0 auto;
  position: relative;
  background-color: #000;
}

.video_wrapper_full {
  padding-top: 196.78px;
}

.videoIframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.no-webp .videoPoster {
  background-image: url(../img/reviews/video.png); }

.videoPoster {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  border: none;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -o-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
     transition-delay: 0s, 0s;
}

.videoPoster:hover {
  cursor: pointer;
}

.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -o-transition-delay: 0s, 800ms;
     transition-delay: 0s, 800ms;
}

.page__reviews {
  margin-top: 0;
}

.reviews__container {
  position: relative;
}

.reviews__insert {
  position: absolute;
  width: 100vw;
  height: 276px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__wrap {
  padding: 208px 0 393px 0;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__slider {
  position: relative;
}

.reviews__slider .slick-arrow {
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  font-size: 0;
  z-index: 10;
}

.reviews__slider .slick-arrow.slick-prev {
  background: url("../img/reviews/left.svg") center center no-repeat;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.reviews__slider .slick-arrow.slick-next {
  background: url("../img/reviews/right.svg") center center no-repeat;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.reviews__slid {
  position: relative;
  z-index: 1;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.14em;
  color: #F0FFF9;
  text-shadow: 0px 1px 13px #07524D;
}

.slick-list {
  overflow: hidden;
  padding: 0 !important;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-center.reviews__slid {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 640px;
          flex: 0 0 640px;
  position: relative;
  z-index: 2;
  margin: 0 -124px 0 -124px;
}

.slick-center .video_wrapper {
  width: 640px;
}

.slick-center .video_wrapper_full {
  padding-top: 360px;
}

.contact__wrap {
  padding: 230px 0 50px 0;
}

.contact__title {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.14em;
  color: #FFFADE;
  text-shadow: 0px 1px 13px #FDDC68;
}

.contact__title:not(:last-child) {
  margin-bottom: 40px;
}

.contact__form:not(:last-child) {
  margin-bottom: 175px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__body {
  width: 100%;
}

.form__body:not(:last-child) {
  margin-bottom: 28px;
}

.form__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.form__wrap > input {
  background: rgba(6, 8, 11, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 20px;
  padding: 25px 25px 30px 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.form__wrap > input::-webkit-input-placeholder {
  opacity: 0.5;
}

.form__wrap > input::-moz-placeholder {
  opacity: 0.5;
}

.form__wrap > input:-ms-input-placeholder {
  opacity: 0.5;
}

.form__wrap > input::-ms-input-placeholder {
  opacity: 0.5;
}

.form__wrap > input::placeholder {
  opacity: 0.5;
}

.form__wrap:not(:last-child) {
  margin-bottom: 10px;
}

.form__textarea {
  width: 100%;
  background: rgba(6, 8, 11, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 25px 25px 30px 25px;
  height: 175px;
  resize: none;
}

.form__textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

.form__textarea::-moz-placeholder {
  opacity: 0.5;
}

.form__textarea:-ms-input-placeholder {
  opacity: 0.5;
}

.form__textarea::-ms-input-placeholder {
  opacity: 0.5;
}

.form__textarea::placeholder {
  opacity: 0.5;
}

.button {
  background: rgba(230, 164, 86, 0.3);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 20px;
  padding: 27px 117px 28px 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 2;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #E7A456;
  text-shadow: 0px 0px 3.5px rgba(231, 164, 86, 0.7);
  cursor: default;
}

.button svg {
  fill: #E7A456;
  margin-left: 15px;
}

.button svg path {
  fill: #E7A456;
}

.button-activ {
  background: #E6A456;
  color: #FFFFFF;
  cursor: pointer;
}

.button-activ svg {
  fill: #fff;
}

.button-activ svg path {
  fill: #fff;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .menu__item {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-shadow: 0px 0px 3.5px rgba(231, 164, 86, 0.7);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer .menu__item:not(:last-child) {
  margin-right: 35px;
}

.footer .menu__item:first-child {
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 1;
  margin-right: 35px;
}

.footer .menu__item:hover {
  color: #E7A456;
  text-shadow: 0px 0px 3.5px rgba(231, 164, 86, 0.7);
}

.footer .menu__link {
  color: inherit;
}

.network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.network__item:not(:last-child) {
  margin-right: 15px;
}

.network__link {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(6, 8, 11, 0.6);
}

.network__link svg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.network__link svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: #FFFADE;
}

.network__link:hover svg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.network__link:hover svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: #E7A456;
}

@media (max-width: 1271px) {
  .services__slider {
    margin: 0 -10px 0 -10px;
  }

  .services__slider .slick-arrow.slick-prev {
    left: 10px;
  }

  .services__slider .slick-arrow.slick-next {
    right: 10px;
  }

  .services__slider .slick-list {
    max-width: 860px !important;
  }

  .services__slid {
    padding: 0 10px 0 10px;
  }
}

@media (max-width: 1130px) {
  .reviews__wrap {
    padding: 150px 0 180px 0;
  }

  .reviews__slid {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 640px;
            flex: 1 1 640px;
    position: relative;
    z-index: 2;
    margin: 0;
  }

  .video_wrapper {
    width: 640px;
  }

  .video_wrapper_full {
    padding-top: 360px;
  }

  .reviews .slick-list {
    overflow: hidden;
    padding: 0 !important;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews .slick-center.reviews__slid {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 640px;
            flex: 1 1 640px;
    position: relative;
    z-index: 2;
    margin: 0;
  }

  .reviews .slick-center .video_wrapper {
    width: 640px;
  }

  .reviews .slick-center .video_wrapper_full {
    padding-top: 360px;
  }
}

@media (max-width: 1000px) {
  .footer .menu__item {
    font-size: 18px;
  }

  .footer .menu__item:not(:last-child) {
    margin-right: 15px;
  }

  .footer .menu__item:first-child {
    font-size: 30px;
    margin-right: 20px;
  }

  .network__link {
    width: 50px;
    height: 50px;
  }

  .network__link img {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
        -ms-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }

  .network__link:hover img {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
        -ms-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 830px) {
  .slick-center .slid__title {
    font-size: 24px;
  }

  .title {
    font-size: 40px;
  }

  .contact__wrap {
    padding: 170px 0 50px 0;
  }

  .contact__title {
    font-size: 40px;
  }

  .contact__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .contact__form:not(:last-child) {
    margin-bottom: 135px;
  }

  .form__body {
    width: 100%;
  }

  .form__body:not(:last-child) {
    margin-bottom: 28px;
  }

  .form__wrap {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .form__wrap > input {
    padding: 20px 20px 20px 20px;
    font-size: 16px;
  }

  .form__textarea {
    font-size: 16px;
    padding: 20px 20px 20px 20px;
  }

  .form__textarea::-webkit-input-placeholder {
    opacity: 0.5;
  }

  .form__textarea::-moz-placeholder {
    opacity: 0.5;
  }

  .form__textarea:-ms-input-placeholder {
    opacity: 0.5;
  }

  .form__textarea::-ms-input-placeholder {
    opacity: 0.5;
  }

  .form__textarea::placeholder {
    opacity: 0.5;
  }

  .button {
    padding: 20px 100px 20px 100px;
    font-size: 16px;
  }
}

@media (max-width: 810px) {
  .services__wrap {
    padding: 170px 0 250px 0;
  }

  .services__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .services__slider {
    margin: 0 -10px 0 -10px;
  }

  .services__slider .slick-arrow.slick-prev {
    left: 10px;
  }

  .services__slider .slick-arrow.slick-next {
    right: 10px;
  }

  .services__slider .slick-list {
    max-width: 640px !important;
  }

  .services__slid {
    width: 320px !important;
    height: 330px;
  }

  .services__slid-body {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    padding-bottom: 30px;
  }

  .services__image {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .services__slid-title {
    font-size: 25px;
  }

  .services__slid-title:not(:last-child) {
    margin-bottom: 5px;
  }

  .services__slid-title:not(:first-child) {
    margin-top: 0;
  }
}

@media (max-width: 775px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__menu:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 670px) {
  .reviews__wrap {
    padding: 100px 0 120px 0;
  }

  .reviews__slid {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100vw - 30px);
            flex: 1 1 calc(100vw - 30px);
  }

  .video_wrapper {
    width: calc(100vw - 30px);
  }

  .video_wrapper_full {
    padding-top: calc((100vw - 30px) * 0.5625);
  }

  .slick-center.reviews__slid {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 calc(100vw - 30px) !important;
            flex: 1 1 calc(100vw - 30px) !important;
  }

  .slick-center .video_wrapper {
    width: calc(100vw - 30px) !important;
  }

  .slick-center .video_wrapper_full {
    padding-top: calc((100vw - 30px) * 0.5625) !important;
  }
}

@media (max-width: 650px) {
  .services__slider {
    margin: 0 -10px 0 -10px;
  }

  .services__slider .slick-arrow.slick-prev {
    left: 10px;
  }

  .services__slider .slick-arrow.slick-next {
    right: 10px;
  }

  .services__slider .slick-list {
    max-width: 300px !important;
  }

  .services__slid {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .menu__list {
    gap: 20px;
  }

  .menu__item {
    font-size: 14px;
  }
}

@media (max-width: 585px) {
  .footer .menu__item {
    font-size: 14px;
  }

  .footer .menu__item:first-child {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .menu__list {
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__item {
    font-size: 14px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    text-align: center;
  }
}

@media (max-width: 445px) {
  .footer__menu:not(:last-child) {
    margin-bottom: 20px;
  }

  .footer .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .menu__item {
    font-size: 14px;
  }

  .footer .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .footer .menu__item:first-child {
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 435px) {
  .contact__wrap {
    padding: 120px 0 40px 0;
  }

  .contact__title {
    font-size: 36px;
  }

  .contact__title:not(:last-child) {
    margin-bottom: 25px;
  }

  .contact__form:not(:last-child) {
    margin-bottom: 75px;
  }

  .form__body:not(:last-child) {
    margin-bottom: 15px;
  }

  .button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 20px 20px 20px;
  }
}

@media (max-height: 400px) {
  .header {
    top: 20px;
  }
}

.webp .main-header::after { background-image: url(../img/header/ground.webp); }

.webp .videoPoster { background-image: url(../img/reviews/video.webp); }